* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body
{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

.inset
{
    border-top:     1px solid #222;
    border-left:    1px solid #222;
    border-bottom:  1px solid #666;
    border-right:   1px solid #666;
}

html, body, div.app
{
    height:100%;
}

div.display, div.controls
{
    height:50%;
}

/* Portrait layout (default) */
.app
{
    left:0;
    top:0;
    width:100%;                 /* text area width */
}

.guideAnchor
{
    position: relative;
    z-index: 9;
}

.guide
{
    position: absolute;
    top:-1em;
    left:0;
    z-index: 10;

    border: 1px solid darkorange;
    box-shadow: 0.1em 0.1em 0.4em rgba(0,0,0,0.5);
    background-color: orange;
    opacity:0;
    display:none;

    width: 100%;
    min-height: 1.5em;
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    padding: 0.5em 1em;
}

.consonate,
.vowel
{
    display: inline-block;
    width:48%;
    color: #444;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
}

.consonate label,
.vowel label
{
    display: block;
    width:100%;
    color: #999;
    font-size: 0.5em;
    line-height: 1em;
}

div.word
{
    position:relative;
    color: #444;
    font-size: 2.5em;
    text-align: center;
    line-height: 2.5em;
}

div.word > div.sound
{
    position: absolute;
    opacity: 0.2;
}

@-webkit-keyframes fadePulse {
    0%   {opacity: 0.1;}
    50%  {opacity: 0.5;}
    100% {opacity: 0.1;}
}

.pulse
{
    -webkit-animation-name: fadePulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes driftUp {
    0%   {
            opacity: 0;
        }
    10%  {
            opacity: 1;
        }
    50%  {
            top: -3.7em;
        }
    100% {
            opacity: 0.0;
            top: -6em;
        }
}
.float
{
    -webkit-animation-name: driftUp;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
}

div.controls
{
    width: 100%;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

div.controls label
{
    color: white;
    font-size:0.8em;
}

div.controls div.ratemark
{
    position: absolute;
    -webkit-transform: rotate(45deg);
    background-color: white;
    border: 0.1em solid darkorange;
    width: 3em;
    height: 3em;
    top: -3.7em;
    left: 0px;
    border-radius: 2em;
    border-bottom-right-radius: 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.4);
    opacity: 0;
}

div.controls div.ratemark label
{
    position: relative;
    display:block;
    -webkit-transform: rotate(-45deg);
    color: #666;
    font-size: 1.5em;
    text-align: center;
    width: 2em;
    line-height: 2em;
}

div.controls div.slide
{
    z-index: 5;
    position: relative;
    height: 2em;
    width:100%;
    background: white;
    border-radius: 0.2em;
}

div.controls div.slide div.label
{
    position: absolute;
    font-size: 0.8em;
    line-height: 2.5em;
    width: 30%;
    color: darkorange;
    padding: 0 0.5em;
    text-transform: uppercase;
}

div.controls div.slide div.label.n
{

}

div.controls div.slide div.label.y
{
    right:0;
    text-align:right;
}

div.controls ul
{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
}

div.controls ul li
{
    width: 22%;
    display: inline-block;
}

div.controls ul li button
{
    position: relative;
    z-index: 5;
    background-color: white;
    border: 1px solid darkorange;
    border-radius: 0.2em;
    color: orange;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
}

div.display
{
    width:100%;
    padding: 2em;
    margin: 0 auto;
    display: block;
    background-color: white;
}

div.controls
{
    background-color: orange;
    width:100%;
    padding-top: 2em;
    margin: 0 auto;
    display: block;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px)
{
    .app
    {

    }

    div.display
    {
        padding-top: 2em;
        width:49%;
        display: inline-block;
    }

    div.controls
    {
        width:50%;
        display: inline-block;
        vertical-align: top;
    }

    div.guide
    {
        width: 200%;
    }

    div.display, div.controls
    {
        height:100%;
    }

    div.controls div.slide
    {
    }
}
